<%- include('../partials/boilerplate') %>

<div class="top-images-container">
  <div class="image-tile">
    <img src="<%= image.url %>" alt="">
    <h3><%= image.title %></h3>
    <h3><%= image.artist %></h3>
  </div>
</div>

<%- include('../partials/end') %>
