<%- include('../partials/boilerplate') %>

<form action="/galleries/<%= gallery.id %>?_method=PUT" method="POST">
  <input type="text" name="name" placeholder="Name" value="<%= gallery.name %>">
  <input type="text" name="description" placeholder="Description" value="<%= gallery.description %>">
  <input type="submit" value="Update gallery">
</form>

<%- include('../partials/end') %>
