<%- include('../partials/boilerplate') %>

<div class="gallery-info">
  <h3><%= gallery.name %></h3>
  <p><%= gallery.description %></p>

  <form action="/galleries/<%= gallery.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete gallery">
  </form>
  <a href="/galleries">Back to all galleries</a>
</div>

<%- include('../partials/end') %>
